@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url("./fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url("./fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
    font-family: 'GraphikSemiBold';
    src: url("./fonts/GraphikSemibold.otf") format("opentype");
}

@font-face {
    font-family: 'GraphikRegular';
    src: url("./fonts/GraphikRegular.otf") format("opentype");
}

@font-face {
    font-family: 'GraphikBold';
    src: url("./fonts/GraphikBold.otf") format("opentype");
}
